<section class="content-header">
    <!--section starts-->
    <h1>Quản Lý Hóa CHất</h1>
    <ol class="breadcrumb">
        <li>
            <a href="<%-link.menu.home%>">
                <i class="livicon" id="load" data-name="home" data-size="14" data-loop="true"></i>
                Trang Chủ
            </a>
        </li>
    </ol>
</section>

