<header class="header skin-josh">
    <a href="/" class="logo">
        <img src="/img/anh1.jpg" width="214px" height="42px" alt="logo">
    </a>
    <nav class="navbar navbar-static-top navbar-dark" role="navigation">
        <div>
            <ul class="nav navbar-nav  list-inline">
                <li>
                    <a href="<%-link.menu.thongKe%>" style="color: white;">
                        <i class="livicon" data-name="doc-portrait" data-size="18" data-c="#F89A14" data-hc="#F89A14" data-loop="true"></i>
                        Kiểm Kê
                    </a>
                </li>
                <li>
                    <a href="<%-link.menu.nhapHang%>" style="color: white;">
                        <i class="livicon" data-name="doc-portrait" data-size="18" data-c="#F89A14" data-hc="#F89A14" data-loop="true"></i>
                        Nhập Hàng
                    </a>
                </li>
                <li>
                    <a href="<%-link.menu.banHang%>" style="color: white;">
                        <i class="livicon" data-name="cart" data-size="18" data-c="#F89A14" data-hc="#F89A14" data-loop="true"></i>
                        Bán Hàng
                    </a>
                </li>
            </ul>
        </div>
        <div class="navbar-right toggle">
            <ul class="nav navbar-nav  list-inline">
                <li class=" nav-item dropdown user user-menu">
                    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                        <img src="/img/no_avatar.jpg" alt="img" height="35px" width="35px" class="rounded-circle img-fluid float-left">
                            <div class="riot">
                            <div>
                                <p class="user_name_max">Admin</p>
                                <span>
                                    <i class="caret"></i>
                                </span>
                            </div>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header bg-light-blue">
                            <img src="/img/no_avatar.jpg" alt="img" height="35px" width="35px" class="rounded-circle img-fluid float-left">
                            <p class="topprofiletext">Admin</p>
                        </li>
                        
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="float-right">
                                <a href="<%-link.url.logout%>">
                                    <i class="livicon" data-name="sign-out" data-s="18" style="width: 18px; height: 18px;">
                                    </i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>

    <script src="/js/admin.js" type="text/javascript"></script>
</header>