<!DOCTYPE html>
<html>
    <head>
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
            <title>
                Quản Lý Sách
            </title>
           
            <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
            <link rel="stylesheet" type="text/css" href="/css/app.css">
            <link rel="stylesheet" type="text/css" href="/css/buttons.bootstrap4.css" />
            <link rel="stylesheet" type="text/css" href="/css/colReorder.bootstrap4.css" />
            <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.css" />
            <link rel="stylesheet" type="text/css" href="/css/rowReorder.bootstrap4.css" />
            <link rel="stylesheet" type="text/css" href="/css/scroller.bootstrap4.css">
            <link rel="stylesheet" type="text/css" href="/css/tables.css" />

<!--hiệu ứng các nút -->
<link rel="stylesheet" href="/css/animate.min.css" />
<link rel="stylesheet" href="/css/hover-min.css" />
<link href="/css/transitions.css" rel="stylesheet" />
<style type="text/css">
    table, th, td{
        border:1px solid #ccc;
    }
    table{
        border-collapse:collapse;
        width:100%;
    }
    th, td{
        text-align:left;
        padding:10px;
    }
    tr:hover{
        background-color:#ddd;
        cursor:pointer;
    }
</style>

<style>
#table1_filter {
margin-bottom: 10px;
}
</style>
    </head>
    <body>
        <%-include('./block/header')%>
        <div class="wrapper">
            <aside class="left-side sidebar-nav">
                <section class="sidebar">
                    <div class="page-sidebar">
                      <h1 style="margin-top: 300px; margin-left: 50px; color: yellow;">Nhập <br>Sách</h1>
                    </div>
                </section>
            </aside>
            <aside id="hello" class="right-side">
                
               
                <!-- Notifications -->
                <div id="notific">
                </div>
                <div>
                      <form method="post" action="<%=link.form.nhapHoaDon%>" class="row g-3 mx-auto">
                        <div class="row-md-1">
                          <label for="validationDefault01" class="form-label">Mã Sản Phẩm</label>
                          <input type="text" class="form-control" name = "maSanPham" id="validationDefault01" value="" required>
                        </div>
                        <div class="row-md-4">
                          <label for="validationDefault02" class="form-label">Tên Sản Phẩm</label>
                          <input type="text" class="form-control" name="tenSanPham" id="validationDefault02" value="" required>
                        </div>
                        <div class="row-md-4">
                          <label for="validationDefaultUsername" class="form-label">Số Lương</label>
                          <div class="input-group">
                            <input type="text" class="form-control" name="soLuong" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                          </div>
                        </div>
                        <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Giá Bán</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="giaBan" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Nhà Cung Cấp</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="nhaCungCap" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Địa Chỉ</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="diaChi" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Họ tên</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="hoTen" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Ngày Tạo</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="ngayTao" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Chủng Loại</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="chungLoai" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Tên Tác Giả</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="tenTacGia" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="row-md-4">
                            <label for="validationDefaultUsername" class="form-label">Mã Hóa Đơn</label>
                            <div class="input-group">
                              <input type="text" class="form-control" name="maHoaDon" value="" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" required>
                            </div>
                          </div>
                          <div class="col-12">

                          </div>
                        </div>
                        <div class="col-12">
                          <button class="btn btn-primary" type="button">
                            <a href="/hello" style="color:white;" >Quay Lại</a>
                          </button>
                          <button class="btn btn-primary" type="submit">Lưu</button>
                        </div>
                      </form>
                </div>
                <!-- Content -->
            </aside>
            <%-include('./block/xuLy')%>
    </body>
</html>